/*Margen icono navbar*/
.icon-background{
    margin-right: 30px
}


.redes{
    display: flex;
    display: inline; 
    list-style: none;
}
.aling{
    display: flex;
    display: inline; 
}

.container2{
    width: 100%;
}

.main{
    display: flex;
    width: auto;
    height: 600px;
    background-color: #1c5d9e;
    margin-left: 20px;
    margin-right: 20px;
}

h5{
    font-family:   Arial, sans-serif;
}

footer{
    background: #e4e4e4;
    color: #fff;
}
/****************************************************************/
.galeria{
    width: 100%;
    padding: 20px;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: white;
}


.title-body{
    width: 25%;
    border-top: 6px solid black;
}


.galeria .title-img{
    width: 100%;
    border-top: 4px solid rgb(27, 111, 190);
}

.galeria .title-img h3{
    font-size: 30px;
    text-align: center;
    padding: 10px 0;
    color: #636363;
    font-weight: 100;
}

.galeria .box-img{
    
    margin: 5px;
    
    box-shadow: 0 0 10px 0 rgba(0,0,0,.6);
    overflow: hidden;
}

.galeria .box-img img{
    width: 100%;
    cursor: pointer;
    transition: all .5s ease;
}

.galeria .box-img img:hover{
    transform: scale(1.1);
}


/*****************************************************************/


/* color #f8f9fa */